---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
PointerAlignment: Right
QualifierAlignment: Left
SortIncludes: CaseInsensitive
TabWidth: 4