.DS_Store
__pycache__/
__pypackages__/
_minted*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea
.*.lb
.*.swp
./auto/*
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.history
.history/
.hypothesis/
.installed.cfg
.ionide
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdf
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.texpadtmp
.tox/
.venv
.vscode/*
.webassets-cache
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
*-blx.aux
*-blx.bib
*-concordance.tex
*-converted-to.*
*-gnuplottex-*
*-tags.tex
*-tikzDictionary
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.[1-9][0-9]R
*.[1-9]R
*.4ct
*.4tc
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.backup
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.cb
*.cb2
*.cover
*.cpt
*.cut
*.dpth
*.dvi
*.egg
*.egg-info/
*.el
*.eledsec[1-9]
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.eledsec[1-9][0-9]R
*.eledsec[1-9]R
*.end
*.ent
*.fdb_latexmk
*.fff
*.fls
*.fmt
*.fot
*.gaux
*.glg
*.glo
*.glog
*.gls
*.glsdefs
*.glstex
*.gnuplot
*.gtex
*.hst
*.idv
*.idx
*.ilg
*.ind
*.lg
*.listing
*.loa
*.lod
*.loe
*.lof
*.log
*.lol
*.lot
*.lox
*.lpz
*.ltjruby
*.lyx~
*.lzo
*.lzs
*.maf
*.manifest
*.md5
*.mf
*.mlf
*.mlt
*.mo
*.mp
*.mtc[0-9]*
*.mw
*.nav
*.newpax
*.nlg
*.nlo
*.nls
*.out
*.pax
*.pdfpc
*.pdfsync
*.pot
*.pre
*.ptc
*.py,cover
*.py[cod]
*.pyg
*.pytxcode
*.run.xml
*.sage.py
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*.slf[0-9]*
*.slg
*.slo
*.sls
*.slt[0-9]*
*.snm
*.so
*.soc
*.sout
*.spec
*.spl
*.sta
*.stc[0-9]*
*.sympy
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.t[1-9]
*.t[1-9][0-9]
*.table
*.tdo
*.tfm
*.thm
*.toc
*.tps
*.trc
*.ttt
*.upa
*.upb
*.ver
*.vrb
*.vsix
*.vtc
*.wrt
*.xcp
*.xdv
*.xdy
*.xmpi
*.xref
*.xwm
*.xyc
*.xyd
*~[0-9]*
*$py.class
/site
acs-*.bib
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
latex.out/
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
poetry.toml
profile_default/
pyrightconfig.json
pythontex-files-*/
pyvenv.cfg
sdist/
share/python-wheels/
svg-inkscape/
sympy-plots-for-*.tex/
target/
TSWLatexianTemp*
var/
venv.bak/
venv/
wheels/
.frontmatter
frontmatter.json
