{% if "material/tags" in config.plugins and tags %}
{% include "partials/tags.html" %}
{% endif %}

{% if "\x3ch1" not in page.content %}
<h1>
  <span>{{ page.title | d(config.site_name, true) }}</span>
  {% set difficulty_map = {
    "cppintro": 0,
    "usor": 1,
    "mediu": 2,
    "dificil": 3,
    "avansat": 4
  } %}
  
  {% set parts = page.file.src_path.split("/") %}
  {% if parts | length > 1 %}
    {% set level = parts[0] %}
    {% set difficulty = difficulty_map[level] if level in difficulty_map else None %}
  {% else %}
    {% set difficulty = None %}
  {% endif %}
  
  {% if difficulty != None %}
  <span class="difficulty-stars" >
    {% for i in range(difficulty + 1) %}
      <span class="star-{{ difficulty }}">●</span>
    {% endfor %}
      
    {% for i in range(4 - difficulty) %}
      <span class="star-empty">●</span>
    {% endfor %}
  </span>
  {% endif %}
</h1>
{% endif %}

{% if page.meta.authors %}
  <p>
    {% set author_list = [] %}

    {% for author_id in page.meta.authors %}
      {% if config.extra.authors[author_id] %}
        {% set author_list = author_list.append(config.extra.authors[author_id].name) %}
      {% else %}
        {% set author_list = author_list.append(author_id) %} 
      {% endif %}
    {% endfor %}

    {% if author_list | length == 1 %}
      <b>Autor</b>: {{ author_list[0] }}
    {% else %}
      <b>Autori</b>: {{ author_list | join(', ') }}
    {% endif %}
  </p>
{% endif %}

{% if page.meta.prerequisites %}
  {% if prerequisites_data | length > 0 %}
  <div class="admonition example">
    <p class="admonition-title">Cunoștințe necesare</p>
    <ul>
      {% for prerequisite in prerequisites_data | sort(attribute='difficulty') %}
        <li>
          <a href="{{ prerequisite.path | replace("docs/", "") | replace(".md", "/") | url }}">{{ prerequisite.title }} </a>
          <span>&nbsp;</span>

          {% set difficulty = prerequisite.difficulty | int %}
          <span>
            {% for i in range(difficulty + 1) %}
            <span class="star-{{ difficulty }}">●</span>
            {% endfor %}
              
            {% for i in range(4 - difficulty) %}
              <span class="star-empty">●</span>
            {% endfor %}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endif %}

{{ page.content }}