[data-md-color-scheme="slate"] {
    --md-default-bg-color: #12151a;
    --md-code-bg-color: #1e2126;

    --difficulty-cppintro: rgb(220, 23, 23);
    --difficulty-usor: rgb(233, 128, 0);
    --difficulty-mediu: rgb(243, 198, 19);
    --difficulty-dificil: rgb(23, 171, 23);
    --difficulty-avansat: rgb(36, 107, 231);
    --difficulty-olympiad: rgb(153, 36, 231);
}

[data-md-color-scheme="default"] {
    --difficulty-cppintro: #e13b1d;
    --difficulty-usor: #e8840a;
    --difficulty-mediu: #ffd700;
    --difficulty-dificil: #0cc80c;
    --difficulty-avansat: #157dd2;
    --difficulty-olympiad: #7d15d2;
}

h1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

h1 .difficulty-stars {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
}

.star-0 {
    font-size: 0.75rem;
    color: var(--difficulty-cppintro);
}

.star-1 {
    font-size: 0.75rem;
    color: var(--difficulty-usor);
}

.star-2 {
    font-size: 0.75rem;
    color: var(--difficulty-mediu);
}

.star-3 {
    font-size: 0.75rem;
    color: var(--difficulty-dificil);
}

.star-4 {
    font-size: 0.75rem;
    color: var(--difficulty-avansat);
}

.star-5 {
    font-size: 0.75rem;
    color: var(--difficulty-olympiad);
}

.star-empty {
    font-size: 0.75rem;
    opacity: 0.4;
    color: var(--md-default-fg-color);
}
