[data-md-color-scheme] {
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #12151a;

    --md-code-fg-color: #cdd6f4;
    --md-code-bg-color: #1e1e2e;
    --md-code-hl-number-color: #fab387;
    --md-code-hl-special-color: #fab387;
    --md-code-hl-function-color: #89b4fa;
    --md-code-hl-constant-color: #fab387;
    --md-code-hl-keyword-color: #cba6f7;
    --md-code-hl-string-color: #a6e3a1;
    --md-code-hl-name-color: #cdd6f4;
    --md-code-hl-operator-color: #9399b2;
    --md-code-hl-punctuation-color: #9399b2;
    --md-code-hl-comment-color: #9399b2;
    --md-code-hl-generic-color: #9399b2;
    --md-code-hl-variable-color: #9399b2;

    --diff-fg-cppintro: #fce8f3;
    --diff-fg-usor: #e4eef7;
    --diff-fg-mediu: #edf8f6;
    --diff-fg-dificil: #ffffff;
    --diff-fg-avansat: #ece1fc;
    --diff-fg-olympiad: #f7dfcf;

    --diff-bg-cppintro: #8d0851;
    --diff-bg-usor: #0e67af;
    --diff-bg-mediu: #119175;
    --diff-bg-dificil: #d19808;
    --diff-bg-avansat: #722add;
    --diff-bg-olympiad: #eb7a29;
}

[data-md-color-scheme="default"] {
    --md-code-fg-color: #4c4f69;
    --md-code-bg-color: #f2f5fa;
    --md-code-hl-number-color: #fe640b;
    --md-code-hl-special-color: #fe640b;
    --md-code-hl-function-color: #1e66f5;
    --md-code-hl-constant-color: #fe640b;
    --md-code-hl-keyword-color: #8839ef;
    --md-code-hl-string-color: #40a02b;
    --md-code-hl-name-color: #4c4f69;
    --md-code-hl-operator-color: #7c7f93;
    --md-code-hl-punctuation-color: #7c7f93;
    --md-code-hl-comment-color: #7c7f93;
    --md-code-hl-generic-color: #7c7f93;
    --md-code-hl-variable-color: #7c7f93;

    --diff-bg-cppintro: #f2c6de;
    --diff-bg-usor: #c6def1;
    --diff-bg-mediu: #c9e4de;
    --diff-bg-dificil: #faedcb;
    --diff-bg-avansat: #dbcdf0;
    --diff-bg-olympiad: #f7d9c4;

    --diff-fg-cppintro: #cc0e76;
    --diff-fg-usor: #0d64ac;
    --diff-fg-mediu: #0c8f72;
    --diff-fg-dificil: #c28d08;
    --diff-fg-avansat: #4a0ea3;
    --diff-fg-olympiad: #97450a;
}

.md-typeset .admonition,
.md-typeset details {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-width: 0px;
}

[data-md-color-scheme="slate"] .md-typeset .admonition,
[data-md-color-scheme="slate"] .md-typeset details {
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1),
        0 1px 2px -1px rgba(255, 255, 255, 0.1);
}

.md-typeset .admonition-title,
.md-typeset .admonition-title::before {
    text-transform: uppercase;
    font-size: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.md-typeset .md-code__content {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
}

.prereq-list {
    margin-bottom: 0.4rem;
    line-height: 1.6;
}

ul .prereq-list {
    margin-left: 0;
}

.prereq-list > li {
    list-style: none;
    margin-bottom: 0.4rem;
    margin-left: 0;
}

.pill {
    display: inline-flex;
    align-items: center;
    border-radius: 1.5rem;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.1rem 1rem;
    margin: 0 0.3rem;
}

.diff-cppintro {
    background-color: var(--diff-bg-cppintro);
    color: var(--diff-fg-cppintro);
}
.diff-usor {
    background-color: var(--diff-bg-usor);
    color: var(--diff-fg-usor);
}
.diff-mediu {
    background-color: var(--diff-bg-mediu);
    color: var(--diff-fg-mediu);
}
.diff-dificil {
    background-color: var(--diff-bg-dificil);
    color: var(--diff-fg-dificil);
}
.diff-avansat {
    background-color: var(--diff-bg-avansat);
    color: var(--diff-fg-avansat);
}
.diff-olimpiada {
    background-color: var(--diff-bg-olympiad);
    color: var(--diff-fg-olympiad);
}

/* .md-typeset h6 {
    font-size: 1rem;
}

.md-typeset h5 {
    font-size: 1.2rem;
}

.md-typeset h4 {
    font-size: 1.44rem;
}

.md-typeset h3 {
    font-size: 1.728rem;
}

.md-typeset h2 {
    font-size: 2.074rem;
    font-weight: 600;
}

.md-typeset h1 {
    font-size: 2.488rem;
    font-weight: 700;
} 
*/

.md-typeset h3 {
    font-weight: 500;
}

.md-typeset h2 {
    font-weight: 600;
}

.md-typeset h1 {
    font-weight: 700;
} 